<p id="notice"><%= notice %></p>

<h1 class="center">Disciplines</h1>

<div class="container">
  <div class="row">
    <% @disciplines.each do |discipline| %>

        <div class="col col-sm-8">
          <%= link_to discipline.title, discipline, class: "big_links c_normal" %>
        </div>
        <div class="col col-sm-2">
          <%= link_to 'Edit', edit_discipline_path(discipline), class: "big_links c_edit" %>
        </div>
        <div class="col col-sm-2">
          <%= link_to 'Destroy', discipline, method: :delete, data: { confirm: 'Are you sure?' }, class: "big_links c_destroy" %>
        </div>
    <% end %>
    <div class="col-md-3 margin_top_20">
      <%= link_to 'New Discipline', new_discipline_path, class: "big_links c_new" %>
    </div>
  </div>
</div>
