<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @theme.title %>
</p>

<p>
  <b>Current Discipline! :</b>
  <%= @theme.discipline.title %>
</p>

<% if @theme.theme_sections.empty? %>
  <p>Theme net</p>
<% else %>
  <p>Theme have next theme_sections:</p>
  <ul>
    <% @theme.theme_sections.each do |elem| %>
    <li>
      <%= link_to elem.title, elem %> -
      <%= link_to 'Edit', edit_theme_section_path(elem) %> |
      <%= link_to 'Destroy', elem, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Добавить новую секцию', new_theme_section_path(:id_d => @theme)%>
<br>
<br>
<p>Задачи по данной теме:</p>
  <ul>
    <% @theme.tasks.each do |elem| %>
    <li>
      <%= link_to elem.title, elem %> -
      <%= link_to 'Edit', edit_task_path(elem) %> |
      <%= link_to 'Destroy', elem, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
<%= link_to 'Добавить новую заачу', new_task_path(:id_d => @theme)%>
<br>
<%= link_to 'Back', themes_path %>
