<%= form_with(model: theme_section, local: true) do |form| %>
  <%= render 'common/errors', resource: @theme_section %>

  <div class="field">
    <h4>Наименование темы:</h4>
    <%= form.text_field :title, {:class => 'form-control', required: true} %>
  </div>

  <div class="field">
    <h4>Информация(используйте нижнее поле для редоктирования):</h4>
    <%= form.text_area :info, id: :theme_section_info, class: "form-control"%>
    <trix-editor input="theme_section_info"></trix-editor>
  </div>

  <div class="field">
    <%= form.label :theme, "Тема" %>
    <%= form.collection_select :theme_id, Theme.where(discipline_id: @theme_section.theme.discipline.id), :id, :title, {:selected => @theme_section.theme.id}, {:class => 'form-control'} %>
  </div>

  <div class="field">
    <p>Используйте CTRL для выбора формул:</p>
    <%= form.collection_select :formul_ids, Formul.all, :id, :title, {},  {multiple: true, class: "form-control"} %>
  </div>

  <div class="field">
    <p>Используйте CTRL для выбора теорем:</p>
    <%= form.collection_select :theorem_ids, Theorem.all, :id, :title, {},  {multiple: true, class: "form-control"} %>
  </div>

  <%= form.submit({:class => 'btn btn-success'}) %>
<% end %>
