<p id="notice"><%= notice %></p>

<h1>Theme Sections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theme_sections.each do |theme_section| %>
      <tr>
        <td><%= theme_section.title %></td>
        <td><%= theme_section.info %></td>
        <td><%= link_to 'Show', theme_section %></td>
        <td><%= link_to 'Edit', edit_theme_section_path(theme_section) %></td>
        <td><%= link_to 'Destroy', theme_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme Section', new_theme_section_path %>
