<p>
  <b>Текущий путь:</b>
  <%= link_to @theme_section.theme.discipline.title, @theme_section.theme.discipline %> -> <%= link_to @theme_section.theme.title, @theme_section.theme %>
</p>

<h1 class="center">Секция: <%= @theme_section.title %></h1>


<div class="container">
  <div class="row">
    <div class="col-12 center margin_bottom_20">
      <% if @theme_section.formuls.empty? %>
        <p>Формул нету</p>
      <% else %>
        <h3>Данная секция имеет следующие формулы:</h3>
    </div>
        <% @theme_section.formuls.each do |elem| %>
          <div class="list w100">
            <%= link_to elem.title, elem, class: "big_links c_normal" %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <div class="col-md-4 margin_top_20 ">
    <%= link_to 'Добавить новую формулу', new_formul_path(:id => @theme_section), class: "big_links c_new" %>
  </div>
<%end %>

<div class="container">
  <div class="row">
    <div class="col-12 center margin_bottom_20">
      <% if @theme_section.theorems.empty? %>
        <p>Теорем нету</p>
      <% else %>
        <h3>Данная секция имеет следующие теоремы:</h3>
        </div>
        <% @theme_section.theorems.each do |elem| %>
          <div class="list w100">
            <%= link_to elem.title, elem, class: "big_links c_normal" %>
          </div>
        <% end %>
      <% end %>
      </div>
</div>
<% if user_signed_in? %>
  <div class="col-md-4 margin_top_20 ">
    <%= link_to 'Добавить новую теорему', new_theorem_path(:id => @theme_section), class: "big_links c_new" %>
  </div>
<%end %>

<p>
  <strong>Описание</strong>
  <%= sanitize @theme_section.info.empty? ? 'Пусто' : @theme_section.info %>
</p>
