<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @theme_section.title %>
</p>

<p>
  <b>current Theme! :</b>
  <%= @theme_section.theme.title %>
</p>

<% if @theme_section.formuls.empty? %>
  <p>Formul net</p>
<% else %>
  <p>We have next formuls:</p>
  <ul>
    <% @theme_section.formuls.each do |elem| %>
      <li><%=link_to elem.title, elem %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Add formul', new_formul_path(:id => @theme_section)%><br>
<%= link_to 'Create formul', new_formul_path(:id => @theme_section)%><br>
<p>
  <strong>Info:</strong>
  <%= @theme_section.info %>
</p>

<%= link_to 'Edit', edit_theme_section_path(@theme_section) %> |
<%= link_to 'Back', theme_sections_path %>
