<%= form_with(model: formul, local: true) do |form| %>
  <%= render 'common/errors', resource: @formul %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit "#{@formul.new_record? ? 'Cjzdat' : 'Izmenit'}"%>
  </div>
<% end %>
