<%= form_with(model: formul, local: true) do |form| %>
  <%= render 'common/errors', resource: @formul %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <p>Выбирите секции к которым относиться данная формула используя CTRL или оставьте по умолчанию</p>
  <%= form.collection_select :theme_section_ids, ThemeSection.where(theme_id: ThemeSection.find(params[:id]).theme_id), :id, :title, {:selected => params[:id]}, {multiple: true, class: "form-control"} %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit "#{@formul.new_record? ? 'Cjzdat' : 'Izmenit'}"%>
  </div>
<% end %>
