<%= form_with(model: formul, local: true) do |form| %>
  <%= render 'common/errors', resource: @formul %>


    <h4>Наименование формулы:</h4>
    <%= form.text_field(:title, {:class => 'form-control', required: true}) %>


  <div class="field">
    <h4>Описание:</h4>
    <%= form.text_area :description, id: :formul_description, class: "form-control"%>
    <trix-editor input="formul_description"></trix-editor>
  </div>

  <%= form.submit({:class => 'btn btn-success'}) %>

<% end %>
