<%= form_with(model: theorem, local: true) do |form| %>
  <%= render 'common/errors', resource: @theorem%>

  <h4>Наименование дисциплины:</h4>
  <%= form.text_field(:title, {:class => 'form-control',required: true}) %>
  <br>
  <p>Выбирите секции к которым относиться данная теорема используя CTRL или оставьте по умолчанию</p>
  <%= form.collection_select :theme_section_ids, ThemeSection.where(theme_id: ThemeSection.find(params[:id]).theme_id), :id, :title, {:selected => params[:id]}, {multiple: true, class: "form-control"} %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :theorem_description, class: "form-control",required: true%>
    <trix-editor input="theorem_description"></trix-editor>
  </div>


  <%= form.submit({:class => 'btn btn-success'}) %>
<% end %>
